<a href="https://colab.research.google.com/github/jh0118/class2021SPRING/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**인덱싱(indexing)**

[a:b]는 a<=x<b 자리에 위치한 값들을 반환함.

n자리라고 하면 첫 자리부터 0, 1, 2, ..., n-1이고, 끝자리부터 -1, -2, -3, ..., -n.

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

<class 'str'>
a f f a
bc bcdef abc abcdef

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

**len() :개수를 반환.**

In [ ]:
len(s)

6

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

**s.upper() : 모두 대문자로**

**s.lower() : 모두 소문자로**

'표현'하는 것이지 데이터 자체를 바꾸는 것이 아니다.

In [ ]:
s.upper()

'ABCDEF'

## **문자열 찾기**
**s.find()** : 처음 등장하는 문자열의 인덱스 번호 출력. 없을 시 -1 출력.

**s.index()** : 왼쪽부터 처음 등장하는 문자열의 인덱스 번호 출력. 없을 시 에러 발생.

**s.rindex()** : 오른쪽부터 찾는 index. 없을 시 에러 발생.

In [ ]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

**s.strip()**: 문자열 양옆의 공백 문자 지우기

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

**s.split()** : 괄호 안의 자료값을 기준으로 s를 쪼개어 리스트에 담기.

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

**s.join()** : 괄호 안의 값으로 리스트 s의 원소들을 묶어 하나의 문자열로 만든다.

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

**s.replace('a', 'b')** : s에서 'a'를 'b'로 대체한다.

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'